<!DOCTYPE html>
<html lang="en">
    {% include "components/header.html" %}
    <body>
        <!-- Navigation-->
        {% include "components/main-navbar.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi there! I'm Harrison, a software developer and finance student.</p>
                        <p>I'm currently completing my undergraduate degree in finance, but I have always had a passion for software engineering. In fact, I taught myself how to program and have been honing my skills ever since.</p>
                        <p>I have a particular interest in finance and love the idea of combining my two passions - finance and software engineering. That's why I plan to further my education and get a Master's degree in software engineering once I graduate.</p>
                        <p>I have a wide range of programming skills, but I have a particular fondness for Python and JavaScript. I enjoy using Python for general tasks, and I find that JavaScript, along with popular front-end frameworks, is a great tool for web3/blockchain development.</p>
                        <p>Overall, I'm driven and dedicated to constantly improving my skills and expanding my knowledge base. I believe that the intersection of finance and software engineering holds endless opportunities, and I'm excited to see where my passion for these fields will take me in the future.</p>                            
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include "components/footer.html" %}
    </body>
</html>
